
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
      <h2>Bancos</h2>

      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="col-sm-12">
        <form class="form-signin" action="register-bank/" method="GET">
          <div class="col-sm-8">Crear Nuevo  Banco</div>
          <div class="col-sm-4" align="right">
            <button class="btn btn-primary btn-sm"  type="submit"> Crear</button>
          </div>
		    </form>
        </div>
        
        <table id="banks" class="table table-striped table-bordered" style="margin-top:20px;">
          <thead>
              <td>Nombre</td>
              <td>Tipo</td>
              <td>Dirección</td>
              <td>Acciones</td>
          </thead>
          <tbody>
            {% for bank in bank_list %}
                <tr id ="tr{{bank.id}}">
                    <td><a class="">{{bank.name}}</a></td>
                    <td><a class="">{{bank.type_bank}}</a></td>
                    <td><a class="">{{bank.address}}</a></td>
                    <td>    
                       <a class="btn btn-success btn-sm" href="bank/update/{{bank.id}}">Actualizar</a>
                        <br></br>
                        {% csrf_token %}
                        <button id ="btn-delete_customer" bank_id ="{{bank.id}}" class="btn-delete_bank btn btn-danger btn-sm" >Eliminar</button></a>
                    </td>
                </tr>
            {% endfor %}

          </tbody>

          </table>
       
      </div>
    </div>
    {% comment %} {% block modalcustomer %}
        {% include "modal_update_customer.html" %}
    {% endblock %} {% endcomment %}
{% endblock content %}